/* soft reset do css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url(../img/planofundo.jpg) ;
    background-size: auto 100vh;
    color: honeydew;
    font-family: 'Roboto', sans-serif; 
    height: 100vh;
    font-size:12px;
  }

  /* se a tela tiver pelo menos 400 px vai carregar esses estilos */
  @media (min-width: 400px) {
    body{
      font-size: 14px;
    }
  }

  /*breakpoint*/
  @media (min-width: 600px) {
    body{
      font-size: 18px;
    }
  }

  /*breakpoint*/
  @media (min-width: 1200px) {
    body{
      font-size: 20px;
    }
  }

  header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu{
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul{
    display:flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style:none;
  }
  
  .menu a{
    display: block;
    padding: 10px 20px;
    transition: background-color 1s,color 1s;
  }

  .menu a:hover{
    background-color: rgb(4, 109, 136);
    color: whitesmoke;
  }

  .menu a:active{
    background-color: rgb(3, 56, 70);
    color: rgb(94, 235, 169);
  }

  a{
    color: rgb(4, 109, 136);
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
  }

  /*
  .titulo{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;

    animation: linear 2s animacaoTitulo forwards;    
  }
  
  @keyframes animacaoTitulo{
    100%{
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  */ 
  .site-subtitle,
  .site-title{
    color:whitesmoke;
    text-align:center;
  }

  .site-title{
    font-size: 4em;
    font-family: 'Permanent Marker', cursive;
  }
  
  .site-subtitle{
    font-style:italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em;
  }

  .sobre,
  .contato,
  .portfolio{
    padding: 2em;
    min-width: 100vh;
  }

  @media (min-width:1200px){
    .container{
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
    }
  }

  .sobre h2,
  .contato h2,
  .portfolio h2{
    font-family: 'Source Code Pro', monospace;;
    color: honeydew;
    margin-bottom: 0.9em;
    font-size: 2em;
  }

  .sobre p{
    color: black;
    font-weight: bolder;
    margin-bottom: 1.5em;
    text-align: justify;
    text-indent: 1.5em;
  }

  .sobre a{
    color: whitesmoke;
    text-decoration: underline;
  }

  .sobre a:hover{
    background-color:rgb(4, 109, 136) ;
    text-decoration: none;
  }

  .sobre .avatar img{
    max-width: 350px;
    max-height: 350px;
    border-radius: 50%;
  }

  .sobre .avatar{
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    margin-right: 1em;    
  }

  @media (min-width:600px){
    .sobre .avatar{
      float: left;
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
  }

  .portfolio .grid{
    display: grid;
    gap: 2em;
  }

  @media (min-width:560px){
    .portfolio .grid{
      grid-template-columns: 240px 240px;
    }
  }

  @media (min-width:880px){
    .portfolio .grid{
      grid-template-columns: repeat(3,240px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 48px - 8em);
    }
  }

  .portfolio figure{
    text-align: center;
  }
  
  .img-portfolio{
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
  }  

  /*
  .img-portfolio:hover{
    transform: scale(1.2); 
  }
  */

  .flip-card{
    perspective: 500px;
  }

  .card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  .flip-card:hover .card{
    transform: rotateY(180deg);
  }

  .card-front,
  .car-back{
    backface-visibility: hidden ;
    top: 0;
    position: absolute;
    left: 0;
  }

  .card-back{
    background-color:rgb(3, 56, 70) ;
    color: white;
    height: 180px;
    width: 100% ;
    transform: rotateY(180deg);
  }

  .contato .icons{
    text-align: center;
  }

  .contato a{
    color:whitesmoke;
    font-size: 4em;
    transition: text-shadow 1s;
  }

  .contato a:active, 
  .contato a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 10px turquoise;
  }


  
  